body{
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden;
    width:100%;
    margin: 0 0 -50px 0;
}
.btn-next {
    font-size: 12px;
    color: #ffffff;
    font-weight: bold;
    background-color: #00008f;
    line-height: 40px;
    height: 40px;
    width: 226px;
    padding: 0 20px;
    margin-top: 6px;
    margin-right: 20px;
    text-align: center;
    letter-spacing: 2px;
}

.upload-img{
	height: auto; 
    width: auto; 
    max-width: 60px; 
    max-height: 60px;
}

.block {
  position: relative;
  left:300px;
  top:60px;
  width: 25%;
  border: none;
  background-color: #ffffff;
  color:#ffffff;
   border: 0.1px solid #d3d3c1;
  box-shadow: -2px 2px 5px #d3d3d3;
  padding: 14px 28px;
  font-size: 70px;
  cursor: pointer;
  text-align: center;
  z-index:1;
}

.block1 {
  position: relative;
  left:400px;
  top:60px;
  width: 25%;
  border: none;
  background-color: #ffffff;
  color:#ffffff;
   border: 0.1px solid #d3d3c1;
  box-shadow: -2px 2px 5px #d3d3d3;
  padding: 14px 28px;
  font-size: 70px;
  cursor: pointer;
   z-index:1;
  text-align: center;
}

.land-back {
    position:relative;
    top: 10px;
    left: 10px;
    z-index: 1;
}
.land-front {
    position:absolute;
    top: 42%;
    left: 60%;
    z-index: 2;
}

.navbar-fixed-top {
    background-color: #FFFFFF;
    z-index: 9998;
    box-shadow: 0 2px 8px 0 rgba(69, 91, 112, 0.18);
    height: 60px;
}

.navbar-fixed-top, .navbar-static-top {
    background-color: #FFFFFF;
}

.navbar-header {
    width: 100px;
    float: left;
}

.navbar-brand {
    float: left;
    height: 64px;
    padding: 0 0 0 20px;
    width: 64px;
    display: block;
}

.navbar-brand img {
    width: 160px;
    height: 64px;
}

.toggle-menu-button {
    float: right;
    line-height: 64px;
    margin: 0 20px;
    border: none;
    background: none;
    display: block;
}

.toggle-menu-button.is-open .toggle-menu-button-icon span:nth-child(1), .toggle-menu-button.is-open .toggle-menu-button-icon span:nth-child(6) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.toggle-menu-button.is-open .toggle-menu-button-icon span:nth-child(2), .toggle-menu-button.is-open .toggle-menu-button-icon span:nth-child(5) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.toggle-menu-button.is-open .toggle-menu-button-icon span:nth-child(1) {
    top: 4px;
    left: 2px;
}

.toggle-menu-button.is-open .toggle-menu-button-icon span:nth-child(2) {
    top: 4px;
    left: calc(50% - 2px);
}

.toggle-menu-button.is-open .toggle-menu-button-icon span:nth-child(3) {
    left: -50%;
    opacity: 0;
}

.toggle-menu-button.is-open .toggle-menu-button-icon span:nth-child(4) {
    left: 100%;
    opacity: 0;
}

.toggle-menu-button.is-open .toggle-menu-button-icon span:nth-child(5) {
    top: 11px;
    left: 2px;
}

.toggle-menu-button.is-open .toggle-menu-button-icon span:nth-child(6) {
    top: 11px;
    left: calc(50% - 2px);
}

.toggle-menu-button .toggle-menu-button-icon {
    position: relative;
    position: relative;
    top: -2px;
    display: inline-block;
    width: 22px;
    height: 17px;
    vertical-align: middle;
    cursor: pointer;
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
}

.toggle-menu-button .toggle-menu-button-icon span {
    position: absolute;
    display: block;
    width: 50%;
    height: 2px;
    background: #00008f;
    opacity: 1;
    -webkit-transition: 0.25s ease-in-out;
    -moz-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
}

.toggle-menu-button .toggle-menu-button-icon span:nth-child(even) {
    left: 50%;
    border-radius: 0 9px 9px 0;
}

.toggle-menu-button .toggle-menu-button-icon span:nth-child(odd) {
    left: 0;
    border-radius: 9px 0 0 9px;
}

.toggle-menu-button .toggle-menu-button-icon span:nth-child(1), .toggle-menu-button .toggle-menu-button-icon span:nth-child(2) {
    top: 0;
}

.toggle-menu-button .toggle-menu-button-icon span:nth-child(3), .toggle-menu-button .toggle-menu-button-icon span:nth-child(4) {
    top: 6px;
}

.toggle-menu-button .toggle-menu-button-icon span:nth-child(5), .toggle-menu-button .toggle-menu-button-icon span:nth-child(6) {
    top: 12px;
}

.navbar-right {
    float: right !important;
    margin-right: 0 !important;
}

.navbar-nav {
    float: left;
    margin: 0 20px !important;
    display: none;
}

.nav > li {
    background: #FFFFFF;
    margin: 0 10px;
}

.nav > li:hover {
    border-bottom: 4px solid #f07662;
}

.nav > li > a:hover,
.nav > li > a:focus {
    text-decoration: none;
    background-color: #ffffff;
}

.nav > li.active {
    border-bottom: 4px solid #f07662;
}

.btn-neum {
    font-size: 16px;
    color: #ffffff;
    font-weight: bold;
    background-color: #00008f;
    line-height: 50px;
    float: left;
    padding: 0 20px;
    margin-top: 6px;
    margin-right: 20px;
    display: none;
    letter-spacing: 2px;
}

.btn-neum:hover {
    text-decoration: none;
    color: #ffffff;
}

.search {
    float: left;
    border-right: 1px solid #cccccc;
    height: 50px;
    margin-top: 8px;
}

.btn-search {
    background: url(../img/search.png) center center no-repeat;
    width: 50px;
    height: 50px;
    background-size: 50%;
    transform:scaleX(-1);
}

.side-nav {
    position: fixed;
    width: 250px;
    left: 0;
    top: 0;
    margin: 0;
    margin-left: -250px;
    height: 100%;
    height: calc(100% + 20px);
    height: -moz-calc(100%);
    padding-bottom: 60px;
    background-color: white;
    z-index: 10001;
    overflow-y: auto;
    will-change: transform;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

#sidenav-overlay {
    z-index: 10000;
    background-color: #000000;
    background-color: rgba(0, 0, 0, 0.7);
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.7;
    filter: alpha(opacity=70);
    position: fixed;
    top: 0;
}

.img-background{
	position:relative;
	top:-50px;
	height:553px;
	width:793px;
	left:200px;
	
}

.slide-ul {
    padding: 20px 15px 0;
}

.slide-ul li {
    line-height: 44px;
    height: 44px;
    padding: 0 5px;
    list-style: none;
}

.slide-ul li a {
    font-size: 16px;
    display: inline-block;
    width: 100%;
    color: #666666;
    padding: 0 5px;
}

.slide-ul li a:hover {
    background-color: #f2f4f6;
}

.slide-ul li.crr a {
    color: #000000
}

.wrapper {
    padding-top: 64px;
}



.p1{
    font-size: 22px;
    font-weight: bold;
}

.p2{
    font-size: 50px;
    font-family:"Garamound";  
    line-height: 90%;
    text-align: center;
}

.p3{
    font-size: 25px;
    line-height: 26px;
    font-family:"Source Sans Pro"; 
    line-height: normal; 
    text-align: center;
}


.p4{
    font-size: 15px;
    font-weight: bold;
    color:#2425AA;
}
.p5{
    font-weight: bold;
    font-size: 22px;
}
.p6{
    font-size: 20px;
    position:relative;
    margin-top:30px;
}
.footer{
    background-color: rgb(73,118,186);
    padding: 50px 0;
    color:#ffffff
}
.footer div{
    min-height: 140px;
}
.footer .small{
    font-size: 12px;
    text-align: right;
    position: relative;
}
.smallword{
    position: absolute;
    bottom:0;
    right:0
}
/*.footer .container{*/
/*width: 1280px;*/
/*}*/
.footer a{
    color:#ffffff
}

.footer-container{
	  position:relative;
  	top:-80px;
  	margin-bottom:-300px;
  	z-index:-1
	
}

.site-footer
{
	background-color:#4876ba;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
  z-index:-1
}

.site-footer-upload
{
  position:relative;
  background-color:#4876ba;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
  z-index:-1
}
.site-footer hr
{
  border-top-color:#ffffff;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#ffffff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  margin-left:60px;
  font-weight:bold
}
.site-footer a
{
  color:#737373;
  margin-left:60px;
  line-height: 4.0;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#ffffff
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.social-icons
{
  text-align:left;
  margin-left:60px;
  line-height: 4.0;
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  background-color:#4876ba
}
.copyright-text
{
  margin:0;
  color:#ffffff;
  text-align:right;
  margin-right:30px;
  margin-top:-10px;
  margin-bottom:-10px;
  
}


@media screen and (min-width: 700px)
{
.nav > li > a {
    padding-top: 20px;
    padding-bottom: 0px;
    padding-left:0px;
    line-height:18px;
    padding-right:60px;
    font-size:18px;
    font-weight:bold;
    color:#2425AA;
}
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#ffffff;
  font-size:20px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
}

.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  color:#3b5998
}
.social-icons a.twitter:hover
{
 	color:#00aced
}
.social-icons a.linkedin:hover
{
     color:#00aced 
}
.social-icons a.youtube:hover
{
     color:#ff0000
}

.social-icons a.instagram:hover
{
     color:#C13584
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}




@media only screen and (min-width: 1200px) {

    .navbar-header {
        width: 100px;
        float: left;
        margin-left: 100px;
    }

    .toggle-menu-button {
        display: none;
    }

    .navbar-right {
        display: block;
        margin-right: 100px !important;
    }

    .navbar-nav {
        margin: 0 20px !important;
        display: block;
    }

    .btn-neum {
        display: block;
    }

    .search {
        border-left: 1px solid #cccccc;
        border-right:0 !important;
    }

    .row1{
        /*background: url("../img/undraw_uploading_go67.svg") 70px top no-repeat #ffffff;*/
        background-size: contain;
    }
    .row2{
        background: url(../img/2.png) 0px 74% no-repeat rgb(247,247,247);
        background-size: auto;
    }
    .row3{
        background: url("../img/3.png")  70px top no-repeat #ffffff;
        background-size: contain;
    }
    .row4{
        background: url("../img/4.png")  right top no-repeat #ffffff;
        background-size: contain;
    }
    .title1{
        text-align: center;
        margin-top: 50px;
    }
    .cright1{
        width:600px ;
        margin-top: 25%;
        padding-bottom: 30%;
    }
    .cright2{
        width:600px ;
        margin-top: 10%;
        padding-bottom: 30%;
    }
    .cleft{
        width:550px ;

        margin-left: 20%;
        margin-top: 25%;
        padding-bottom: 30%;
    }
    .btns{
        height: 60px;
    }
    .btn1{
        font-size: 16px;
        color: #ffffff;
        font-weight: bold;
        background-color: #00008f;
        line-height: 50px;
        float: left;
        padding: 0 20px;
        margin-right: 20px;
    }
    .btn2{
        font-size: 16px;
        color: #00008f;
        font-weight: bold;
        background-color: #ffffff;
        /*border: 2px solid #00008f;*/
        line-height: 40px;
        float: left;
        height: 40px;
        width: 226px;
        padding: 0 20px;
        /*margin-top: 6px;*/
        margin-right: 20px;
        /*text-align: center;*/
        letter-spacing: 2px;
    }

}

@media screen and (min-width: 1380px) {
    .nav > li > a.anav {
        font-size: 14px;
        color: #2425AA;
        font-weight: bold;
    }
    .row2{
        background: url("../img/2.png") 200px 200px no-repeat rgb(247,247,247);
        background-size: auto;
    }
}

@media (min-width: 992px) {
    .row1{
        /*background: url("../img/undraw_uploading_go67.svg") -94px top no-repeat #ffffff;*/
        background-size: contain;
    }
    .row2{
        background: url(../img/2.png) -50px 60% no-repeat rgb(247,247,247);
        background-size: 53%;
    }
    .row3{
        background: url(../img/3.png) -70px top no-repeat #ffffff;
        background-size: 51%;
    }
    .row4{
        background: url(../img/4.png) right center no-repeat #ffffff;
        background-size: 50%;
    }
    .title1{
        text-align: center;
        margin-top: 50px;
    }
    .cright1{
        margin-top: 25%;
        padding-bottom: 30%;
    }
    .cright2{
        margin-top: 10%;
        padding-bottom: 20%;
    }
    .cleft{
        margin-left: 5%;
        margin-top: 0%;
        margin-bottom: 15%;
        margin-right: 9%;
    }
    .btns{
        height: 60px;
    }
    .btn1{
        font-size: 14px;
        color: #ffffff;
        font-weight: bold;
        background-color: #00008f;
        line-height: 50px;
        float: left;
        padding: 0 10px;
        margin-right: 20px;
    }
    .btn2{
        font-size: 14px;
        color: #00008f;
        font-weight: bold;
        background-color: #ffffff;
        /*border: 2px solid #00008f;*/
        line-height: 40px;
        float: left;
        padding: 0 10px;
    }
}

.site-header {
    background: url(../img/undraw_uploading_go67.svg);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: contain;
    width: 70%;
    height: 70%;
    margin-top: 60px;
}




@media (max-width: 768px) {
    .btns{
        height: 60px;
    }
    .btn1{
        font-size: 16px;
        color: #ffffff;
        font-weight: bold;
        background-color: #00008f;
        line-height: 50px;
        float: left;
        padding: 0 5px;
    }
    .btn2{
        font-size: 16px;
        color: #00008f;
        font-weight: bold;
        background-color: #ffffff;
        border: 2px solid #00008f;
        line-height: 50px;
        float: left;
        padding: 0 5px;
    }
    .p5{
        margin-top: 15px;
    }
    .smallword{
        position: absolute;
        bottom:0;
        right:10px
    }
    .title1{
        margin-top: 10%;
    }
    .cright1{
        margin-top: 10%;
        padding-bottom: 5%;
    }
    .cright2{
        margin-top: 10%;
        padding-bottom: 5%;
    }
    .cleft{
        margin-top: 10%;
        margin-bottom: 5%;
    }
}
